.clickable {
  cursor: pointer;
}

.jpcurrency{
  text-align: right !important;
}

.width_col6 {
  width:6rem;
}
.width_col8 {
  width:8rem;
}
.width_col10 {
  width:8rem;
}
.width_col12 {
  width:12rem;
}

.col-price,
.col_price{
  min-width: :7rem;
  max-width: :7rem;
  width:7rem;
}

.col_unit{
  padding: 0;
  width:2rem;
  font-size: 0.7rem;
}

.col-date,
.col_date{
  min-width: :6rem;
  width:6rem !important;
}


.dcol-1{
  width:27.8rem;
  max-width:27.8rem;
  min-width:27.8rem;
}
.dcol-2{
  width:8rem;
  max-width: 8rem;
  min-width: 8rem;
}
.dcol-3{
  width:8rem;
  max-width: 8rem;
  min-width: 8rem;
}
.dcol-4{
  width:8rem;
  max-width: 8rem;
  min-width: 8rem;
}
.dcol-5{
  width:8rem;
  max-width: 8rem;
  min-width: 8rem;
}
.dcol-6{
  width:6rem;
  max-width: 6rem;
  min-width: 6rem;
}
.dcol-7{
  width:4rem;
  max-width: 4rem;
  min-width: 4rem;
}

.paymenttitle{
  background-color: #dfefdf !important;
  font-size:0.8rem;
}

.cleardate {
  color:blue;
  width:"32px";
}
