.clickable {
  cursor: pointer;
}

.jpcurrency{
  text-align: right !important;
}

.width_col6 {
  width:6rem;
}
.width_col8 {
  width:8rem;
}
.width_col10 {
  width:8rem;
}
.width_col12 {
  width:12rem;
}

.col_price{
  width:8rem;
}



.col_date{
  width:6rem;
}
